#nav1{
    color:rgb(209, 14, 14); 
    font-weight: 700; 
}
#nav2{
    background-color: aqua;
    color: white;
    font-weight: 700;
    margin-left: 10px;
}
#nav2:hover{
    color: rgb(209, 14, 14);
    transition-duration: .5s;
}
#nav3{
    border-radius: 50%;
    width:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 10px;
    background-color: white;
    color: black;
}
#nav3:hover{
    background-color:rgb(209, 14, 14); 
    color: rgb(94, 5, 54);
    transition-duration: .5s;
}



